accessible-pygments==0.0.4
alabaster==0.7.13
annotated-types==0.5.0
anyio==3.7.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.3
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
atomicwrites==1.4.1
attrs==23.1.0
autocommand==2.2.2
Babel==2.12.1
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
bcrypt==4.0.1
beautifulsoup4==4.12.2
black==23.3.0
bleach==6.0.0
boto3==1.26.115
botocore==1.29.115
brotlipy==0.7.0
bson==0.5.10
certifi @ file:///croot/certifi_1683875369620/work/certifi
cffi @ file:///croot/cffi_1670423208954/work
chardet==5.1.0
charset-normalizer==3.1.0
cheroot==10.0.0
CherryPy==18.8.0
click==8.1.3
click-plugins==1.1.1
colorama @ file:///croot/colorama_1672386526460/work
confluent-kafka==2.1.0
contourpy==1.0.7
cryptography @ file:///croot/cryptography_1677533068310/work
cycler==0.11.0
debugpy @ file:///tmp/build/80754af9/debugpy_1637091799509/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml==0.7.1
deprecation==2.1.0
dirhash==0.2.1
docutils @ file:///opt/conda/conda-bld/docutils_1657175430858/work
dogpile.cache==1.2.1
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
et-xmlfile==1.1.0
exceptiongroup==1.1.2
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
fastjsonschema==2.17.1
filelock==3.12.2
fonttools==4.39.3
fqdn==1.5.1
gemd==1.13.0
girder==3.1.21
greenlet==2.0.2
idna @ file:///croot/idna_1666125576474/work
imagesize @ file:///opt/conda/conda-bld/imagesize_1657179498843/work
importlib-metadata==6.7.0
importlib-resources==5.12.0
inflect==6.0.4
ipykernel @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1655369107642/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1680185408135/work
ipython-genutils==0.2.0
ipywidgets==8.0.6
isoduration==20.11.0
jaraco.collections==4.3.0
jaraco.context==4.3.0
jaraco.functools==3.8.0
jaraco.text==3.11.1
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2 @ file:///croot/jinja2_1666908132255/work
jmespath==1.0.1
jsonpointer==2.4
jsonschema==4.17.3
jupyter==1.0.0
jupyter-book==0.15.1
jupyter-cache==0.6.1
jupyter-console==6.6.3
jupyter-events==0.6.3
jupyter_client==8.3.0
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1678994160714/work
jupyter_server==2.7.0
jupyter_server_terminals==0.4.4
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.7
kafka-python==2.0.2
kafkacrypto==0.9.10.0
kiwisolver==1.4.4
latexcodec==2.0.1
linkify-it-py==2.0.2
livereload==2.6.3
Mako==1.2.4
markdown-it-py==2.2.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
mdit-py-plugins==0.3.5
mdurl==0.1.2
methodtools==0.4.7
mistune==3.0.1
more-itertools==9.1.0
msgpack==1.0.5
mypy-extensions==1.0.0
myst-nb==0.17.2
myst-parser==0.18.1
nbclassic==1.0.0
nbclient==0.7.4
nbconvert==7.6.0
nbformat==5.9.0
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx==3.1
notebook==6.5.4
notebook_shim==0.2.3
numpy==1.24.2
-e git+https://github.com/arachid1/gemd_tools.git@babfd7512e8d7b3dd23edca8d4d0e4bb440faf5e#egg=openmsimodel
-e git+https://github.com/openmsi/openmsistream.git@a6aa3d19db9614d853ea7ea0f8c90635dfc032ec#egg=openmsistream
openpyxl==3.1.2
overrides==7.3.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1681337016113/work
pandas==2.0.1
pandocfilters==1.5.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
passlib==1.7.4
pathspec==0.11.1
pbr==5.11.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1667297516076/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.5.0
Pint==0.20.1
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1679871349196/work
portend==3.2.0
prometheus-client==0.17.0
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1677600924538/work
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pybtex==0.24.0
pybtex-docutils==1.0.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic==2.0
pydantic_core==2.0.1
pydata-sphinx-theme==0.13.3
pydot==1.4.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1681904169130/work
pygraphviz==1.10
pymongo==3.13.0
pymssql==2.2.8
pyOpenSSL @ file:///croot/pyopenssl_1677607685877/work
pyparsing==3.0.9
pyrsistent==0.19.3
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
pysodium==0.7.12
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-json-logger==2.0.7
python-magic==0.4.27
pytz==2023.3
PyYAML==6.0
pyzmq==25.1.0
qtconsole==5.4.3
QtPy==2.3.1
requests==2.31.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
s3transfer==0.6.0
scantree==0.0.1
SciServer==2.1.0
Send2Trash==1.8.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sniffio==1.3.0
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
soupsieve==2.4.1
Sphinx @ file:///opt/conda/conda-bld/sphinx_1657784123546/work
sphinx-autobuild==2021.3.14
sphinx-book-theme==1.0.1
sphinx-comments==0.0.3
sphinx-copybutton==0.5.2
sphinx-jupyterbook-latex==0.5.2
sphinx-multitoc-numbering==0.1.3
sphinx-rtd-theme==1.2.2
sphinx-thebe==0.2.1
sphinx-togglebutton==0.3.2
sphinx_design==0.3.0
sphinx_external_toc==0.3.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
SQLAlchemy==2.0.17
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
stevedore==5.1.0
tabulate==0.9.0
tempora==5.5.0
terminado==0.17.1
tinycss2==1.2.1
tomli==2.0.1
toolz==0.12.0
tornado==6.3.2
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
typing_extensions==4.7.0
tzdata==2023.3
uc-micro-py==1.0.2
uri-template==1.3.0
urllib3 @ file:///croot/urllib3_1686163155763/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.1
widgetsnbextension==4.0.7
wirerope==0.4.7
yfiles-jupyter-graphs==1.4.6
zc.lockfile==3.0.post1
zipp==3.15.0
